
@page "/Leefgroep"

@using HerexamenTry.Shared.DTO
@inject HttpClient Http
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin")]


<HerexamenTry.Client.Pages.Modal @ref="Modal"></HerexamenTry.Client.Pages.Modal>

<button @onclick="() => Modal.Open()" type="button" class="btn btn-info" style="float: right;">Toevoegen</button>

@code {
    private HerexamenTry.Client.Pages.Modal Modal { get; set; }
}



@if (jongeren == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>gender</th>
                <th>Date</th>
                <th>email</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in jongeren)
            {
                <tr>
                    <td>@forecast.Firstname</td>
                    <td>@forecast.Lastname</td>
                    <td>@forecast.Gender</td>
                    <td>@forecast.Date</td>
                    <td>@forecast.Email</td>
                    <td>@forecast.Password</td>
                </tr>
            }
        </tbody>
    </table>
}




@code {
    private JongereDTO[] jongeren;

    protected override async Task OnInitializedAsync()
    {
        jongeren = await Http.GetFromJsonAsync<JongereDTO[]>("https://localhost:44357/api/jongere");
    }


}